* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(Background.jfif);
  background-size: 100%;
}

#div2, #div1 {
  background-color: rgb(132, 221, 162);
  border-style: double;
  margin: auto;
  width: 500px;
  border-radius:
}

#div1 {
  background-color: rgb(0, 180, 96);
  border-radius:
  color: azure;
}

#div2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding: 5px;
  border-radius:
}

#send {
  border-radius: 20%;
  background-color: rgb(0, 180, 96);
  color: azure;
}
